<div class="text-start py-4">
    <div class="custom-pagination">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}" class="prev">Previous</a>
        {% endif %}

        {% for i in pagination_range %}
            {% if i == page_number %}
                <a href="?page={{ i }}" class="active">{{ i }}</a>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}" class="next">Next</a>
        {% endif %}
    </div>
</div>